.album-container{
    display: flex;
    justify-content: center;
    background-color: var(--bg-dark-primary);
}

form{
    color: white;
    margin-top: 15px;
    margin-bottom: 10px;
}

.inner-album{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 0;
}

.album{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.inner-form{
    display: flex;
}

.search-bar{
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-style: none;
    background-color: var(--bg-dark-surface);
    width: 250px;
    color: var(--txt-primary);   
}

input, button{
    outline: none;
}

.submit-button{
    background-color: var(--bg-dark-surface);
    color: var(--txt-primary);
    border-style: none;
}

.button-favorite{
    font-size: 12px;
    font-weight: bold;
    color: var(--bg-dark-primary);
    background-color: rgb(77, 255, 0);
    border-style: none;
    border-radius: 20px;
    width: 150px;
    outline: none;
    padding: 5px;
    transition: 0.5s;
    text-decoration: none;
}

.button-favorite:hover{
    transition-timing-function: ease-in-out;
    padding: 10px;
    cursor: pointer;
}